ion-content {
  --background: #ffffff;
}

.screen-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-title {
/* ==============================
   FONDO GENERAL
   ============================== */

ion-content {
  --background: #f5f7fa;
}


/* ==============================
   ENCABEZADO
   ============================== */

ion-header {
  box-shadow: none;
}

ion-toolbar {
  --background: #ffffff;
  --color: #1e293b;
  --border-width: 0;
  padding: 5px 10px;
}

ion-title {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
}