<ion-content [fullscreen]="true">

  <div class="pedido-container">

    <div class="header">
      <ion-icon name="arrow-back-outline"></ion-icon>

      <div>
        <h2>Resumen del pedido</h2>
        <p>Pipas Juárez</p>
      </div>
    </div>

    <div class="campo">
      <label>Cantidad</label>
      <div class="dato">10,000 litros</div>
    </div>

    <div class="campo">
      <label>Dirección</label>
      <div class="dato">Calle XXX</div>
    </div>

    <div class="campo">
      <label>Referencia</label>
      <div class="dato">XXXXX</div>
    </div>

    <div class="campo">
      <label>Fecha</label>
      <div class="dato">25/09/2026</div>
    </div>

    <div class="campo">
      <label>Horario</label>
      <div class="dato">9:00 - 11:00</div>
    </div>

    <div class="campo">
      <label>Total: $</label>
      <div class="dato">$ XXX.XX</div>
    </div>

    <ion-button expand="block" class="confirmar">
      Confirmar Pedido
    </ion-button>

  </div>

</ion-content>