<ion-content [fullscreen]="true">

  <div class="login-container">

    <!-- LOGO -->
    <div class="logo">
      <span>Logo</span>
    </div>

    <!-- FORMULARIO -->
    <div class="form-container">

      <!-- CORREO / TELÉFONO -->
      <ion-label>Correo/Teléfono</ion-label>

      <ion-input
        class="input-field"
        type="text"
        placeholder="Ingrese su correo o teléfono">
      </ion-input>


      <!-- CONTRASEÑA -->
      <ion-label>Contraseña</ion-label>

      <ion-input
        class="input-field"
        type="password"
        placeholder="Ingrese su contraseña">
      </ion-input>


      <!-- RECUPERAR CONTRASEÑA -->
      <div class="forgot-password">

        <ion-checkbox></ion-checkbox>

        <span>
          ¿Olvidaste tu contraseña? Haz clic aquí
        </span>

      </div>


      <!-- INICIAR SESIÓN -->
      <ion-button
        expand="block"
        fill="outline"
        class="login-button">

        INICIAR SESIÓN

      </ion-button>


      <!-- REGISTRO -->
      <div class="create-text">
        ¿No tienes cuenta?
      </div>

      <ion-button
        expand="block"
        fill="outline"
        class="register-button">

        CREAR CUENTA

      </ion-button>

    </div>

  </div>

</ion-content>