<ion-content [fullscreen]="true">

  <div class="recovery-container">

    <!-- ENCABEZADO -->
    <div class="header">

      <ion-button
        fill="clear"
        class="back-button"
        aria-label="Volver">

        ←

      </ion-button>

      <span class="header-title">
        Recuperar contraseña
      </span>

    </div>


    <!-- TÍTULO -->
    <h1>
      ¿Olvidaste tu contraseña?
    </h1>


    <!-- DESCRIPCIÓN -->
    <p class="description">
      Ingresa tu correo o teléfono para enviarte un
      código de recuperación.
    </p>


    <!-- CORREO / TELÉFONO -->
    <ion-input
      class="input-field"
      type="text"
      placeholder="Correo / teléfono">
    </ion-input>


    <!-- ENVIAR CÓDIGO -->
    <ion-button
      expand="block"
      fill="outline"
      class="send-button">

      Enviar código

    </ion-button>


    <!-- VOLVER AL INICIO -->
    <div class="remember-text">
      ¿Ya recuerdas tu contraseña?
    </div>

    <ion-button
      fill="clear"
      class="back-login-button">

      Volver al inicio

    </ion-button>

  </div>

</ion-content>